<div class="popover" id="{{$ctrl.feature.name}}" style="visibility:hidden" ng-style="{'visibility': $ctrl.show ? 'visible':'hidden'}">
    <div class="contents">
        <div class="popover-scroll-content" ng-scrollable='{"watchHeight": true}'>
            <ul class="action-list button-group">
                <li ng-repeat="option in ::$ctrl.feature.options track by option.value">

                    <button class="btn btn-medium btn-image"
                            ng-tap-click="$ctrl.selectOption(option);"
                            ng-class="::{'selected': option === $ctrl.feature.selectedOption,
                                             'disabled': option.disabled}">

                        <!-- Option icon -->
                        <div class="image-container" ng-if="option.icon">
                            <img class="image" ng-src="Content/images/{{option.icon}}">
                        </div>

                        <!-- Option text -->
                        <div class="text-container">
                            <span class="left-text" xas-string="{{option.title}}"></span>
                        </div>

                        <!-- Option glyph -->
                        <div class="glyph-container" ng-if="option.glyph">
                            &nbsp;&nbsp;<span ng-class="option.glyph"></span>
                        </div>

                    </button>

                </li>
                <li ng-if="$ctrl.feature.moreOptionsModal">

                    <button class="btn btn-medium btn-image" ng-tap-click="$ctrl.openMoreOptionsModal();">
                        <!-- More options icon -->
                        <div class="image-container">
                            <img class="image" ng-src="Content/Images/file_format_more_48.png">
                        </div>

                        <!-- More options text -->
                        <div class="text-container">
                            <span class="left-text" xas-string="SDE_MORE"></span>
                        </div>
                    </button>

                </li>
            </ul>
        </div>
    </div>

    <arrow>
        <div style="width:1px; height:25px;"></div>
        <div style="width:1px; height:23px;margin-top:1px;"></div>
        <div style="width:1px; height:21px;margin-top:2px;"></div>
        <div style="width:1px; height:19px;margin-top:3px;"></div>
        <div style="width:1px; height:17px;margin-top:4px;"></div>
        <div style="width:1px; height:15px;margin-top:5px;"></div>
        <div style="width:1px; height:13px;margin-top:6px;"></div>
        <div style="width:1px; height:11px;margin-top:7px;"></div>
        <div style="width:1px; height:9px;margin-top:8px;"></div>
        <div style="width:1px; height:7px;margin-top:9px;"></div>
        <div style="width:1px; height:5px;margin-top:10px;"></div>
        <div style="width:1px; height:3px;margin-top:11px;"></div>
        <div style="width:1px; height:1px;margin-top:12px;"></div>
    </arrow>
</div>