<div class="banner">
    <table>
        <tr>
            <td>
                <div class="banner-image-container">
                    <img class="banner-image" ng-src="{{$ctrl.complete ? 'Content/Images/ProgressBarCheck.png' : 'Content/Images/ProgressBarSpin.gif'}}">
                </div>
            </td>
            <td style="width:100%;">
                <div class="banner-text-container">
                    <span class="banner-text" xas-string="{{$ctrl.status}}"></span>
                </div>
            </td>
            <td>
                <div class="banner-button-container">
                    <button class="btn btn-medium btn-secondary-alert banner-button xrx-navigate_down" ng-click="$ctrl.close()"></button>
                </div>
            </td>
        </tr>
    </table>
</div>