<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright © 2019 Xerox Corporation. All Rights Reserved. -->
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Xerox.Services" value="https://pkgs.dev.azure.com/XeroxDeviceApps/_packaging/Xerox.Services/nuget/v3/index.json" />
  </packageSources>
</configuration>